body{
background-color: blueviolet
{
    h1{
        cornflowerblue:aquamarine;
        cont-family::cue-region;
        backgroud: ;
        {    
        p{
        color:rgb(255, 251, 0)
        fonte-family:aquamarine;
        font-siz: ;
        background: ;
        { 
